.pt-3-half {
    padding-top: 1.4rem;
  }
  .main-class{
    padding-top:4%;
    padding-left: 18%;
    padding-right: -15%;
  }
  .green {
    background-color: green;
}

.red {
    background-color: red;
}
  
// 
// 
table{
  font-family:'Calibri';
  font-size:15px;
  background-color:#fff;
  color:#333;
}
.modal-header{
  background-color:#333;
  color:#fff;
}